PORT='3003'
DB_MACHINE_ID='seach-db'
DB_HOST='127.0.0.1'
DB_PORT='3307'
MYSQL_HOST='127.0.0.1'
MYSQL_PORT='3307'
DB_NAME='quiz_remote_connector'
DB_USER='quiz_remote_connector'
DB_PASSWORD='quiz-secret'
MYSQL_DATABASE='quiz_remote_connector'
MYSQL_USER='quiz_remote_connector'
MYSQL_PASSWORD='quiz-secret'
ACTIVE_CONNECTOR='dialog360'
DIALOG360_API_KEY='quiz-secret'
DIALOG360_DRY_RUN='0'
TWILIO_ACCOUNT_SID='quiz-secret'
TWILIO_AUTH_TOKEN='quiz-secret'
PUBLIC_URL='http://localhost:3003'
API_BASE_URL='http://localhost:3003/api'
WEBHOOK_TOKEN='quiz-secret'
QUIZ_TITLE='Remote Connector Smoke Test'
