PORT='3002'
DB_MACHINE_ID='local-current'
DB_HOST='127.0.0.1'
DB_PORT='3306'
MYSQL_HOST='127.0.0.1'
MYSQL_PORT='3306'
DB_NAME='quiz_local_db'
DB_USER='quiz_local_db'
DB_PASSWORD='quiz-secret'
MYSQL_DATABASE='quiz_local_db'
MYSQL_USER='quiz_local_db'
MYSQL_PASSWORD='quiz-secret'
PUBLIC_URL='http://localhost:3002'
API_BASE_URL='http://localhost:3002/api'
WEBHOOK_TOKEN='quiz-secret'
QUIZ_TITLE='Local DB Smoke Test'
